package ${packageName}.controller;

import cn.dev33.satoken.annotation.SaCheckPermission;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import com.misssyc.seed.common.core.enums.OperateType;
import com.misssyc.seed.common.core.web.Result;
import com.misssyc.seed.common.core.web.ResultHelper;
import com.misssyc.seed.common.log.annotation.Log;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${packageName}.pojo.vo.${ClassName}VO;
import ${packageName}.pojo.vo.${ClassName}QueryVO;
import ${packageName}.pojo.vo.${ClassName}AddOrUpdateVO;
import ${packageName}.service.${ClassName}Service;
import com.misssyc.seed.common.ds.vo.PageVO;
import com.misssyc.seed.common.ds.vo.PageQueryVO;
import java.lang.Integer;

/**
 * ${functionName}Controller
 *
 * @author ${author}
 * @since  ${datetime}
 */
@Api(tags = "${functionName}")
@RestController
@RequestMapping("/${businessName}")
public class ${ClassName}Controller {

    @Autowired
    private ${ClassName}Service ${className}Service;

    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return ${functionName}
     */
    @ApiOperation("查询${functionName}")
    @GetMapping("/{${pkColumn.javaField}}")
    @SaCheckPermission("${permissionPrefix}:detail")
    public Result<${ClassName}VO> select${ClassName}ById(@PathVariable ${pkColumn.javaType} ${pkColumn.javaField}) {
        return ResultHelper.ok(${className}Service.select${ClassName}ById(${pkColumn.javaField}));
    }

    /**
     * 查询${functionName}列表
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    @ApiOperation("查询${functionName}列表")
    @PostMapping("/list")
    @SaCheckPermission("${permissionPrefix}:list")
    public Result<PageVO<${ClassName}VO>> select${ClassName}List(@RequestBody PageQueryVO<${ClassName}QueryVO> ${className}) {
        return ResultHelper.ok(${className}Service.select${ClassName}List(${className}));
    }

    /**
     * 新增${functionName}
     *
     * @param ${className} ${functionName}
     */
    @ApiOperation("新增${functionName}")
    @PostMapping
    @SaCheckPermission("${permissionPrefix}:insert")
    @Log(title = "新增${functionName}", operateType = OperateType.INSERT)
    public Result<${pkColumn.javaType}> insert${ClassName}(@RequestBody ${ClassName}AddOrUpdateVO ${className}) {
        return ResultHelper.ok(${className}Service.insert${ClassName}(${className}));
    }

    /**
     * 修改${functionName}
     *
     * @param ${className} ${functionName}
     */
    @ApiOperation("修改${functionName}")
    @PutMapping
    @SaCheckPermission("${permissionPrefix}:update")
    @Log(title = "修改${functionName}", operateType = OperateType.UPDATE)
    public Result<Void> update${ClassName}(@RequestBody ${ClassName}AddOrUpdateVO ${className}) {
        ${className}Service.update${ClassName}(${className});
        return ResultHelper.ok();
    }

    /**
     * 批量删除${functionName}
     *
     * @param ${pkColumn.javaField}s 需要删除的${functionName}主键集合
     * @return 结果
     */
    @ApiOperation("批量删除${functionName}")
    @DeleteMapping
    @SaCheckPermission("${permissionPrefix}:delete")
    @Log(title = "批量删除${functionName}", operateType = OperateType.DELETE)
    public Result<Integer> delete${ClassName}ByIds(@RequestBody List<${pkColumn.javaType}> ${pkColumn.javaField}s) {
        return ResultHelper.ok(${className}Service.delete${ClassName}ByIds(${pkColumn.javaField}s));
    }
}