package ${packageName}.dao;

import org.springframework.stereotype.Repository;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.po.${ClassName};

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @since ${datetime}
 */
@Repository
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {

}